* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

body {
    background-color: #1b1b1b;
}

.topbar {
    padding-left: 15%;
    font-size: 20px; 
    display: flex;
    align-items: center;
    gap: 40px; 
}

.topbar.elements {
    padding-left: 20%;
}

.maintitle {
    color: red;
}

