* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    margin: 2px;
    padding-left: 0;
    box-sizing: border-box;
    font-size: 19px;
}

body {
    background-color: #1b1b1b;
    margin: 0;
    padding-left: 20%;
    padding-top: 30px;
}

header {
    margin: 0;
    position: relative; 
    text-align: left;
}

.topbar {
    font-weight: bold;
    text-align: left;
}

.topbar.maintitle {
    color: red;
    font-size: 40px;
    padding-left: 0;
}

.topbar img {
    max-width: 120px;
}

.topbar div{
    padding-left: 11%;
}

.topbar a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    transition: color 0.3s ease, background 0.3s ease;
    padding: 1.5%;
}

.topbar a:hover {
    color: red;
}

/* Page Title */
.pagetitle {
    font-size: 60px;
    color: red;
}

.subtitle {
    font-size: 25px;
    color:beige
}

/* Main Content */
.maincontent {
    text-align: left;
}

.maincontent h3 {
    padding-top: 20px;
    font-size: 25px;
    color: red;
}

.riunionicard {
    display: inline-block;
    padding: 10px 20px;
    background: whitesmoke;
    border-radius: 8px;
    text-align: left;
    max-width: 80%;
}

.riunionicard h3{
    font-size: 30px;
    color:#1b1b1b;
}

.riunionicard h2{
    color:#4d4c4c;
    font-size: 15px;
}

.riunionicard p{
    color:#1b1b1b;
}